.divFather{

    background-color: black;
    justify-items: center;
    width: 36em;
    height: 24em;

}

.divSon1{

    background-color: aquamarine;
    
}

.website{

    background-color: lightsalmon;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;

}